

.vsi-fe2-custom-theme-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    background-image: url('../images/bg-blur.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    max-width: 100%;
}

.vsi-fe2-custom-theme-wrapper img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0px;
}
.vsi-fe2-custom-theme-left{
    position: relative;
    left: -70px;
}
.vsi-fe2-custom-theme-left .image-1{
    width: 469px;
    height: 532px;
    position: absolute;
    z-index: 9;
    top: 0px;
    display: block;
}

.vsi-fe2-custom-theme-left .image-2{
    width: 358px;
    height: 374px;
    position: absolute;
    left: 30px;
    top: 0px;
    z-index: 8;
    display: block;

}
.vsi-fe2-custom-theme-left .image-3{
    width: 691px;
    height: 381px;
    position: absolute;
    left: -157px;
    top: 0px;
    z-index: 6;
    display: block;
}
.vsi-fe2-custom-theme-right{
    position: relative;
    
}
.vsi-fe2-custom-theme-right .image-4{
    width: 619px;
    height: 512px;
    position: absolute;
    z-index: 10;
    bottom: 2%;
    left: 12%;
}
.vsi-fe2-custom-theme-right .image-5{
    width: 445px;
    height: 377px;
    position: absolute;
    z-index: 7;
    top: 100px;
}
.vsi-fe2-custom-theme-right .image-6{
    width: 504px;
    height: 234px;
    position: relative;
    top: 31%;
    left: 11%;
}

@media (max-width: 575.98px) {  
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) { 

 }

@media (min-width: 992px) and (max-width: 1199.98px) {
    
 }

@media (min-width: 1200px) {

  }