
.vsi-copyright{
    background-color:#F1F1F1;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.vsi-logo-footer{
    width: 130px;
    max-width: 130px;
    padding: 0;
    margin: 0 auto;
}
.vsi-logo-footer img{
    max-width: 130px;
    padding: 0;
    text-align: center;
}
.vsi-year{
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
    font-size: 11px;
    margin: 15px auto 0;
    color: #767676;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-hover-ltd{
    text-decoration: none;
    color: #767676;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
.vsi-hover-ltd:hover{
    text-decoration: none;
    color: #d71818;
    outline: none;
}
@media (max-width: 575.98px) {
	.vsi-h1 a{
        font-size: 30px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-address{
        margin: 7px !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-h1 a{
        font-size: 40px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-address{
        margin: 7px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
