body{
    background: linear-gradient(90deg, #232526 0%, #232526 0.01%, #414345 100%, #414345 100%);
    position: relative;
	max-width: 100vw;
    width: 100vw;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
