/* CSS header start */

.luxbar-menu-material-cyan, .luxbar-menu-material-cyan .dropdown ul{
    background-color: var(--white) !important;
    color: var(--black) !important;
}
.luxbar-fixed{
    box-shadow: none !important;
}
.vsi-header{
    width: 100%;
    max-width: 100%;
    height: 95px;
    background-color: var(--white);
    padding: 0;
    margin: 0;
    position: fixed !important;
}
.luxbar-header{
    height: 95px !important;
}
.vsi-nav{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    height: 95px;
}
.vsi-logo{
    margin: 0;
    float: right;
    text-align: right;
}
.vsi-logo img{
    max-width: 130px;
    padding: 0;
    margin: 0;
}
.vsi-font{
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: 'Oswald', 'sans-serif';
    float: right; 
    color: var(---light-black);
    padding-left: 19px;
    padding-right: 19px;
}
.luxbar-item{
    height: 95px !important;
}
.luxbar-menu-material-cyan .active, .luxbar-menu-material-cyan .luxbar-item:hover{
    text-decoration: none !important;
    background-color: #eee !important;
    /* color: #eee !important; */
}
.luxbar-item a{
    padding: 0px !important;
}
.vsi-font a{
    height: 100%;
    line-height: 95px;
    color: var(--light-black);
    font-size: 15px;
    font-weight: inherit;
    cursor: pointer;
}
.vsi-active{
    color: var(--light-eee) !important;
}
.luxbar-checkbox:not(:checked) ~ .luxbar-menu{
    overflow: unset;
    height: 95px !important;
}

@media (max-width: 575.98px) {
    .vsi-header{
        background-color: var(--white) !important;
    }
    .luxbar-item {
        height: 95px !important;
        text-align: center !important;
    }
    .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
        background-color: var(--light-black) !important;
    }
    .luxbar-menu-material-cyan .luxbar-hamburger span, .luxbar-menu-material-cyan .luxbar-hamburger span::before, .luxbar-menu-material-cyan .luxbar-hamburger span::after {
        background-color: var(--light-black) !important;
    }
    .luxbar-checkbox:not(:checked) ~ .luxbar-menu{
        overflow: hidden !important;
        height: 95px !important;
    }
    .luxbar-hamburger{
        padding: 18px 24px 0px 24px !important;
    }
 
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-header{
        background-color: var(--white) !important;
    }
    .luxbar-item {
        height: 95px !important;
        text-align: center !important;
    }
    .luxbar-checkbox:not(:checked) ~ .luxbar-menu{
        overflow: hidden !important;
        height: 95px !important;
    }
    .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
        background-color: var(--light-black) !important;
    }
    .luxbar-menu-material-cyan .luxbar-hamburger span, .luxbar-menu-material-cyan .luxbar-hamburger span::before, .luxbar-menu-material-cyan .luxbar-hamburger span::after {
        background-color: var(--light-black) !important;
    }
    menu {
        height: 95px !important;
    }
    .luxbar-hamburger{
        padding: 18px 24px 0px 24px !important;
    }
  
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .vsi-header{
        background-color: var(--white) !important;
    }
    .luxbar-checkbox:not(:checked) ~ .luxbar-menu{
        overflow: hidden !important;
        height: 95px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .vsi-header{
        background-color: var(--white) !important;
    }
    .luxbar-checkbox:not(:checked) ~ .luxbar-menu{
        overflow: hidden !important;
        height: 95px !important;
    }
}
@media (min-width: 1200px) {
    .vsi-header{
        background-color: var(--white) !important;
    }
    .luxbar-checkbox:not(:checked) ~ .luxbar-menu{
        overflow: hidden !important;
        height: 95px !important;
    }
    .luxbar-checkbox:checked ~ .luxbar-menu {
        height: 95px;
    }
}
/* CSS header end */

/* CSS main start */
.vsi-mg-top{
    margin-top: 95px;
    padding: 0;
}
.cd-prev, .cd-next{
    background-color: var(--grey38) !important;
    border: 1px solid var(--grey38) !important;
}
/* Section 1 start */
.vsi-fe1-banner{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/home/bg.jpg);
    min-height: 757px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.vsi-fe1-banner::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}
.vsi-fe1-text-big{
    padding: 0;
    z-index: 99;
    top: 65%;
    position: relative;
    transform: translateY(50%);
    width: 100%;
    margin: 0 auto;
}
.vsi-fe1-text-big .vsi-fe1-h1{
    font-family: 'Oswald', 'sans-serif';
    line-height: 1.3;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
    text-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    
}
.vsi-fe1-block-pc{
    display: block;
}
.vsi-fe1-p{
    color: var(--grey38);
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0;
    font-size: 19px;
    line-height: 29px;
    font-family: 'Oswald', 'sans-serif';
}
.vsi-fe1-btn-contac{
    width: 147px;
    height: 56px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.vsi-fe1-btn-contac a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    border-radius: 30px;
}

@media (max-width: 575.98px) {
    .vsi-fe1-banner{
        min-height: 600px;
        height: calc(100vh);
    }
    .vsi-fe1-text-big{
        top: 25%;
        transform: translateY(50%);
    }
	.vsi-fe1-text-big .vsi-fe1-h1{
        font-size: 32px;
        line-height: 38px;
    }
    .vsi-fe1-block-pc{
        display: inline-block !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-fe1-banner{
        min-height: 600px;
        height: calc(100vh);
    }
    .vsi-fe1-text-big{
        top: 85%;
        transform: translateY(50%);
    }
	.vsi-fe1-text-big .vsi-fe1-h1{
        font-size: 32px;
        line-height: 38px;
    }
    .vsi-fe1-block-pc{
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 1 end */

/* Section 2 start */
.vsi-fe1-setwidth{
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
}
.cd-section:nth-of-type(2) > div {
    background-color: var(--white) !important;
  }
.vsi-fe1-wellcome{
    padding: 30px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    height: 100vh;
}
.vsi-fe1-rec{
    width: 70px;
    height: 1px;
    position: relative;
    margin: 20px auto 19px;
    border-top: 1px solid #d0d0d0;
}
.vsi-fe1-h1-wellcome{
    text-align: center;
    font-size: 60px;
    line-height: 66px;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    color: #3e3e3e;
}
.vsi-fe1-web{
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.vsi-fe1-web .vsi-fe1-h2-web{
    font-size: 18px;
    color: #3e3e3e;
    padding: 0;
    margin-bottom: 1rem;
	font-family: 'Raleway', sans-serif; 
    line-height: 1.3;
}
.vsi-fe1-web .vsi-fe1-text-web{
    font-size: 17px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif; 
    color: #333333;
    word-break: break-all;

}
.vsi-fe1-mobile{
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.vsi-fe1-h2-mobile{
    font-size: 18px;
    color: #3e3e3e;
    padding: 0;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif; 
    line-height: 1.3; 
}
.vsi-fe1-mobile .vsi-fe1-text-mobile{
    font-size: 17px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif; 
    color: #333333;
    word-break: break-all;


}
.vsi-fe1-number{
    display: block;
    background: transparent;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 500px;
    border: 1px solid #8b8b8b;
    color: #444444;
    font-size: 28px;
    line-height: 132px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 20px;
    cursor: pointer;

}
.vsi-fe1-number:hover{
    background-color: var(--black);
}
.vsi-fe1-firts::after{
    position: absolute;
    background: transparent;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 500px;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.vsi-fe1-number:hover .vsi-fe1-firts{
    color: var(--white);
    border: 1px solid #21242a;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 500px;
    width: 100%;
    height: 100%;
}
.vsi-fe1-firts{
    text-align: center;
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
    display: block;
    color: #444444;
}
.vsi-fe1-text-values{
    color: #919191;
    padding: 0;
    margin-top: 20px;
    font-size: 15px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}
.vsi-fe1-text-mission{
    color: #919191;
    padding: 0;
    margin-top: 20px;
    font-size: 15px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}
.vsi-fe1-text-philosophy{
    color: #919191;
    padding: 0;
    margin-top: 20px;
    font-size: 15px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
}
@media (max-width: 575.98px) {
	.vsi-fe1-setwidth{
        width: 100% !important;
        max-width: 100% !important;
    }
    .vsi-fe1-set-height{
        height: auto !important;
    }
    .vsi-fe1-h1-wellcome{
        font-size: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 2 end */

/* Section 3 start */
.cd-section:nth-of-type(3) > div {
    background-color: var(--white) !important;
}
.vsi-fe1-project{
    height: 100vh; 
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0; 
    position: relative;
}
.vsi-fe1-text-portfolio{
    text-align: center;
    font-size: 60px;
    line-height: 66px;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    color: #3e3e3e;
}
.vsi-fe1-h2-project{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
    padding: 0;
    color: #333333;
    font-family: 'Raleway', sans-serif; 
}
.vsi-fe1-working-hours{
    background-color: #323940;
    padding: 56px 0 40px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: 100%;
}
.vsi-fe1-working-hours:hover{
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.vsi-fe1-flex-span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
} 
.vsi-fe1-span-working-hours{
    font-size: 56px;
    text-align: center;
    color: #fcbf10;
    display: inline-block;
    font-family: 'Oswald', 'sans-serif';
    font-size: 56px;
    margin: 0;
}
.vsi-fe1-span-working-k{
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 56px;
    text-align: center;
    color: #fcbf10;
    display: inline-block;
    font-family: 'Oswald', 'sans-serif';
    font-size: 56px;
}
.vsi-fe1-service-description{
    margin: 16px 0;
    font-size: 20px;
    padding: 0;
    font-weight: 700;
    text-align: center;
    color: #b8bec5;
    line-height: 30px;
    font-family: 'Oswald', 'sans-serif';

}
.vsi-fe1-meetings{
    background-color: #323940;
    padding: 56px 0 40px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: 100%; 
}
.vsi-fe1-meetings:hover{
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.vsi-fe1-technologies-applied{
    background-color: #323940;
    padding: 56px 0 40px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: 100%; 
}
.vsi-fe1-technologies-applied:hover{
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.vsi-fe1-projects-delivered{
    background-color: #323940;
    padding: 56px 0 40px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height: 100%; 
}
.vsi-fe1-projects-delivered:hover{
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.vsi-fe1-filters{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0;
    text-align: center;
}
.vsi-fe1-filters ul{
    list-style: none;
}
.vsi-fe1-filters ul li{
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.vsi-fe1-filters ul li a{
    color: #363535;
    font-size: 15px;
    padding: 3px 9px;
    background: transparent;
    border: 1px solid #363636;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;

}
.vsi-fe1-filters ul li a:hover{
    text-decoration: none;
    outline: none;
    background: #3e3e3e;
    border: 1px solid #3e3e3e;
    color: white;

}
a.vsi-fe1-active{
    background: #3e3e3e !important;
    border: 1px solid #3e3e3e !important;
    color: white !important;
}
.vsi-fe1-img-filters{
    padding: 0 10px 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
}
.vsi-fe1-item-inner{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #1a1a1a;
    overflow: hidden;
}

.vsi-fe1-item-inner:hover img{
    opacity: 0.05;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    width: 100%;
    height: 100%;
    background: #1a1a1a !important;  
}
.vsi-fe1-img-filters img{
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.vsi-fe1-item-details{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
    z-index: 3;
    top: 50%;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-50%);
    transform: translateY(-55%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.vsi-fe1-item-details:hover{
    opacity: 1;
}
.vsi-fe1-title-details{
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    line-height: 33px;
    text-align: center;
}
.vsi-fe1-item-inner:hover .vsi-fe1-title-details{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.vsi-fe1-portfolio-strips{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px;
    display: block;
}
.vsi-fe1-text-content{
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    color: #cdcdcd;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Oswald', 'sans-serif';
}
.vsi-fe1-item-inner:hover .vsi-fe1-text-content{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.vsi-fe1-pd{
    padding: 0;
}
@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 3 end */

/* Section 4 start */
.cd-section:nth-of-type(4) > div {
    background-color: var(--white) !important;
  }
.vsi-fe1-service{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/home/i2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    background-position: 50% 77px;
}
.vsi-fe1-inner{
    margin: 0 auto;
    padding: 20px 0;
}

.vsi-fe1-service::before{
    background-color: rgba(34,34,34, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
}
.vsi-fe1-title-features{
    width: auto;
    height: auto;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Oswald', 'sans-serif';

}
.vsi-fe1-description{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
    padding: 0;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
}
ul.vsi-fe1-features-mobile{
    width: 100%;
    height: auto;
    min-height: 580px;
    margin: 60px auto 0;
    background-image: url(../images/home/features-iphone.png);
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 90px;
}
.vsi-fe1-box-icon-left{
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background: white;
    text-align: center;
    display: block;
    position: relative;
    font-size: 24px;
    line-height: 73px;
    color: #22252a;
    float: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-fe1-fl{
    float: left !important;
}
.vsi-fe1-pl{
    margin-left: 90px !important;
    margin-right: 0px !important;
}
.vsi-fe1-text-left{
    text-align: left !important;
}
.vsi-fe1-fr{
    float: right !important;
}
.vsi-fe1-pr{
    margin-right: 90px !important;
    margin-left: 0px !important;
}
.vsi-fe1-text-right{
    text-align: right !important;
}
.vsi-fe1-feature-box{
    max-width: 400px;
    float: left;
    text-align: right;
    cursor: default;
    display: block;
    height: auto;
    left: 0;
    padding-right: 50px;
    margin-top: 30px;
}
.vsi-fe1-box-icon-left::after{
    position: absolute;
    background: transparent;
    border-radius: 200px;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    border: 2px solid white;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-fe1-icon-web::before{
    content: "";
    position: absolute;
    background-image: url(../images/home/web.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 32%;
    left: 32%;
}
.vsi-fe1-icon-web:hover{
    background-color:#d71818;
}
.vsi-fe1-feature-box:hover .vsi-fe1-box-icon-left::after{
    border-color:#d71818;
}
.vsi-fe1-icon-mobile::before{
    content: "";
    position: absolute;
    background-image: url(../images/home/mobile.png) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 32%;
    left: 32%;
}
.vsi-fe1-icon-mobile:hover{
    background-color:#d71818;
}
.vsi-fe1-feature-box:hover .vsi-fe1-box-icon-left::after{
    border-color:#d71818;
}
.vsi-fe1-icon-design::before{
    content: "";
    position: absolute;
    background-image: url(../images/home/design.png) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 32%;
    left: 32%;
}
.vsi-fe1-icon-design:hover{
    background-color:#d71818;
}
.vsi-fe1-feature-box:hover .vsi-fe1-box-icon-right::after{
    border-color:#d71818;
}
.vsi-fe1-voip::before{
    content: "";
    position: absolute;
    background-image: url(../images/home/voip.png) !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 32%;
    left: 32%;
}
.vsi-fe1-voip:hover{
    background-color:#d71818;
}
.vsi-fe1-feature-box:hover .vsi-fe1-box-icon-left::after{
    border-color:#d71818;
}
.vsi-fe1-feature-texts-left{
    margin-right: 90px;
}
.vsi-fe1-feature-texts-right{
    margin-left: 90px;
}
.vsi-fe1-feature-texts-right .vsi-fe1-box-head-right{
    font-size: 25px;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
}
.vsi-fe1-box-head-left{
    font-size: 25px;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    text-align: right;

}
.vsi-fe1-box-hea-right{
    font-size: 25px;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
}
.vsi-fe1-box-desc-left{
    font-size: 13px;
    color: var(--white);
    font-weight: 600;
    margin: 0 0 10px;
    text-align: right;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.vsi-fe1-box-desc-right{
    font-size: 13px;
    color: var(--white);
    font-weight: 600;
    margin: 0 0 10px;
    text-align: left;
    padding: 0;
    font-family: 'Raleway', sans-serif;   
}
.vsi-fe1-feature-box:nth-of-type(2n){
    max-width: 400px;
    float: right;
    text-align: right;
    cursor: default;
    display: block;
    height: auto;
    left: 0;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 0;
}
.vsi-fe1-box-icon-right{
    width: 70px;
    height: 70px;
    border-radius: 200px;
    background: white;
    text-align: center;
    display: block;
    position: relative;
    font-size: 24px;
    line-height: 73px;
    color: #22252a;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-fe1-box-icon-right::after{
    position: absolute;
    background: transparent;
    border-radius: 200px;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    border: 2px solid white;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-fe1-box-icon-right::before{
    content: "";
    position: absolute;
    background-image: url(../images/home/web.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 32%;
    left: 32%;
}
.vsi-fe1-box-icon-right:hover{
    background-color:#d71818;
    border-color:#d71818;
}

@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 4 end */

/* Section 5 start */
.cd-section:nth-of-type(5) > div {
    background-color: var(--white) !important;
  }
.vsi-fe1-team{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.vsi-fe1-box-team{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.vsi-fe1-title-team{
    width: auto;
    height: auto;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    text-transform: uppercase;
    color: #3e3e3e;
    font-family: 'Oswald', 'sans-serif';
}
.vsi-fe1-description{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
    padding: 0;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;

}
.vsi-fe1-slider-team{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.vsi-fe1-avt-team{
    display: block;
    max-width: 128px;
    margin: 0 auto;
}
.vsi-fe1-avt-team img{
    width: 100%;
    border: 1px dashed #a4a4a4;
    border-radius: 100%;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.vsi-fe1-info-team{
    margin: 24px auto 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
}
.vsi-fe1-info-team .vsi-fe1-client-name{
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    text-align: center;
    color: #7f7f7f;
    font-weight: 500px;
}
.vsi-fe1-info-team .vsi-fe1-client-position{
    margin: 11px auto 9px;
    padding: 0;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #7f7f7f;
    font-family: 'Raleway', sans-serif;
    
}
.vsi-fe1-info-team .vsi-fe1-client-desc{
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    text-align: center;
    color: #7f7f7f;
    font-family: 'Raleway', sans-serif;
}
.vsi-fe1-progress{
    height: auto;
    border-radius: 1px;
    background-color: #f8f8f8;
    box-shadow: none;
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;
}

.skillbar {
	position:relative;
	display:block;
	width:100%;
	background-color: #f8f8f8;
	height: 38px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width: 160px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	height: 38px;
	font-size: 21px;
	background-color: #373737;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	font-family: 'Raleway', sans-serif !important;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display: inline-block;
	padding: 9px 20px;
	height:35px;
	line-height: 40px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	font-size: 14px;
	line-height: 20px;
	color: var(--white);
	text-align: left;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif !important;
}
.skillbar-bar {
	width:0px;
    height: 38px;
    font-size: 21px;
    background-color: #373737;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:var(--white);
}
@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 5 end */

/* Section 6 start */
@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 6 end */

/* Section 7 start */
@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* Section 7 end */

/* CSS main end */

/* CSS header start */
.vsi-footer{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../images/home/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% -26px;
}
.vsi-footer::before{
    content: '';
    background-color: rgba(34,34,34, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.vsi-inner{
    width: 100%;
    height: auto;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}
.vsi-info{
    width: 90%;
    max-width: 770px;
    padding: 52px;
    background: rgba(255,255,255,0.05);
    color: #e7e7e7;
    margin: 0 auto;
    position: relative;
    
}
.vsi-border{
    border-radius: 100%;
}
.vsi-button-email{
    text-align: center;
    display: block;
    width: 82px;
    height: 82px;
    background: rgba(255,255,255,0.05);
    color: #e7e7e7;
    margin: 0 auto;
    line-height: 85px;
    font-size: 35px;
}
.vsi-button-email:hover{
    background: rgba(255,255,255,0.9);
    color: #2b2b2b;
}
.vsi-h1{
    text-align: center;
    margin: 15px auto;
    padding: 0;

}
.vsi-h1 a{
    padding: 0;
    margin: 0;
    font-size: 65px;
    color: white !important;
    font-family: 'Oswald', 'sans-serif';
    text-decoration: none;
}
.vsi-h2{
    padding: 0;
    margin: 0 auto 15px;
    font-size: 25px;
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    text-align: center;
}
.vsi-mail{
    padding: 0;
    margin: 0 auto 15px;
    font-size: 25px;
    color: inherit;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-mail:hover{
    color: #d71818;
    text-decoration: none;
}
.vsi-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
a.vsi-icon-footer{
    display: inline-block;
    color: inherit;
    line-height: 65px;
    font-size: 27px;
    margin: 0 7px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-bg-color-icon{
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: #3a3a3a;
}
.vsi-bg-fb:hover{
    background: #4b6ea8;
    text-decoration: none;
}
.vsi-bg-tw:hover{
    background: #4fd5f8;
    text-decoration: none; 
}
.vsi-bg-in:hover{
    background: #0189c3;
    text-decoration: none; 
}
.vsi-bg-ytb:hover{
    background: #da1818;
    text-decoration: none; 
}
.vsi-maps{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}
.vsi-maps::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 380px;
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vsi-copyright{
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.vsi-logo-footer{
    width: 130px;
    max-width: 130px;
    padding: 0;
    margin: 0 auto;
}
.vsi-logo-footer img{
    max-width: 130px;
    padding: 0;
    text-align: center;
}
.vsi-year{
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
    font-size: 11px;
    margin: 15px auto 0;
    color: #767676;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-hover-ltd{
    text-decoration: none;
    color: #767676;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
.vsi-hover-ltd:hover{
    text-decoration: none;
    color: #d71818;
    outline: none;
}
.vsi-estimate-project{
    background-color: #fcbf10;
    background-image: url(../images/home/pattern-up-full.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 50%;
    background-position-x: -50%;
    width: 100%;
    border-radius: 0 0 50px;
    background-color: #fcbf10;
    border: 1px solid #fcbf10;
    margin-top: 40px;
}
.vsi-contact-white{
    color: var(--white);
}
.vsi-contact-title{
    font-size: 32px;
    line-height: 1.14;
    color: #333;
    padding: 24px;
    font-family: 'Oswald', 'sans-serif';
}
.vsi-contact-form{
    background-color: #323940;
    color: var(--white);
    float: left;
    padding: 8px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    width: 180px;
    max-width: 100%;
    border-radius: 0 0 16px;
    margin-bottom: 16px;
    text-align: center;
    margin: 24px;
}
.vsi-contact-form:hover{
    background: #444b53;
}
a.vsi-btn-submit{
    color: var(--white);
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.vsi-btn-submit:hover{
    color: #fcbf10;
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 575.98px) {
	.vsi-h1 a{
        font-size: 30px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-footer{
        margin: 7px !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-h1 a{
        font-size: 40px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-footer{
        margin: 7px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
/* CSS header end */