:root {
	--vsi-color-1: #000000;
	--vsi-color-2: #F1F1F1;
	--vsi-color-3: #FDEE30;
	/* vsi-fe1- start */
	/* vsi-fe1- end */
	
	/* vsi-fe2- start */
	/* vsi-fe2- end */
	
	/* vsi-fe3- start */
	/* vsi-fe3- end */
}