:root {
	--vsi-color-1: #000000;
	--vsi-color-2: #F1F1F1;
	--vsi-color-3: #FDEE30;
	/* vsi-fe1- start */
	--gray: #E5E5E5;
	/* --black: #000000; */
	--white: #fff;
	/* --yellow: #FDEE30; */
	/* vsi-fe1- end */
	
	/* vsi-fe2- start */
	/* --grey:#E5E5E5; */
    /* --white-gray:#F1F1F1; */
	/* vsi-fe2- end */
	
	/* vsi-fe3- start */
	/* vsi-fe3- end */
}