/* vis-fe1-fonts end*/
body {
	font-family: var(--vsi-font-3);
	font-size: 16px;
	line-height: 1rem;
	color: var(--vsi-color-2);
	background-color: var(--vsi-color-1);
}
::-moz-selection {
	color: var(--vsi-color-3);
}
::selection {
	color: var(--vsi-color-3);
}
a {
	color: inherit;
}
a:hover {
	color: inherit;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	color: inherit;
	font-size: inherit;
}

.vsi-background-gradient-1 {
	background-color: #414345;
	background-image: -webkit-gradient(linear, left top, right top, from(#232526), to(#414345));
	background-image: -webkit-linear-gradient(left, #232526, #414345);
	background-image: -moz-linear-gradient(left, #232526, #414345);
	background-image: -o-linear-gradient(left, #232526, #414345);
	background-image: background-image: linear-gradient(147deg, #232526 0%, #414345 100%);
}
.vsi-background-gradient-2 {
	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, right top, from(#111111), to(#222222));
	background-image: -webkit-linear-gradient(left, #111111, #222222);
	background-image: -moz-linear-gradient(left, #111111, #222222);
	background-image: -o-linear-gradient(left, #111111, #222222);
	background-image: background-image: linear-gradient(147deg, #111111 0%, #222222 100%);
}
.vsi-background-gradient-3 {
	background-color: #111111;
	background-image: -webkit-gradient(linear, left top, right top, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(left, #222222, #111111);
	background-image: -moz-linear-gradient(left, #222222, #111111);
	background-image: -o-linear-gradient(left, #222222, #111111);
	background-image: background-image: linear-gradient(147deg, #222222 0%, #111111 100%);
}

.vsi-btn-1 {
	text-transform: uppercase;
	font-family: var(--vsi-font-1);
	white-space: nowrap;
	font-weight: bold;
	margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
	border: outset 3px var(--vsi-color-3);
	border-bottom-right-radius: 1.5rem;
	color: var(--vsi-color-1);
	background-color: var(--vsi-color-4);
	box-shadow: none;
	position: relative;
	z-index: 1;
}
.vsi-btn-1::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	top: 0;
	background-color: var(--vsi-color-3);
	z-index: -1;
}
.vsi-btn-1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	background-color: var(--vsi-color-3);
	border-bottom-right-radius: 1.5rem;
	z-index: -1;
}
.vsi-btn-1:focus,
.vsi-btn-1:hover {
	outline: none;
}
.vsi-btn-1:focus::before,
.vsi-btn-1:hover::before,
.vsi-btn-1:focus::after,
.vsi-btn-1:hover::after {
	width: 0%;
	height: 0%;
	transition: all 0.25s ease;
}
.vsi-btn-2 {
	text-transform: uppercase;
	font-family: var(--vsi-font-1);
	white-space: nowrap;
	font-weight: bold;
	margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
	border: outset 3px var(--vsi-color-3);
	border-bottom-right-radius: 1.5rem;
	color: var(--vsi-color-1);
	background-color: var(--vsi-color-4);
	box-shadow: none;
	position: relative;
	z-index: 1;
}
.vsi-btn-2::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 0%;
	left: 0;
	top: 0;
	background-color: var(--vsi-color-3);
	z-index: -1;
}
.vsi-btn-2::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 0%;
	left: 0;
	bottom: 0;
	background-color: var(--vsi-color-3);
	border-bottom-right-radius: 1.5rem;
	z-index: -1;
}
.vsi-btn-2:focus,
.vsi-btn-2:hover {
	outline: none;
}
.vsi-btn-2:focus::before,
.vsi-btn-2:hover::before,
.vsi-btn-2:focus::after,
.vsi-btn-2:hover::after {
	width: 100%;
	height: 50%;
	transition: all 0.25s ease;
}
.vsi-btn-3 {
	text-transform: uppercase;
	font-family: var(--vsi-font-1);
	white-space: nowrap;
	font-weight: bold;
	margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
	border: outset 3px var(--vsi-color-3);
	border-bottom-left-radius: 1.5rem;
	color: var(--vsi-color-1);
	background-color: var(--vsi-color-4);
	box-shadow: none;
	position: relative;
	z-index: 1;
}
.vsi-btn-3::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 0%;
	right: 0;
	top: 0;
	background-color: var(--vsi-color-3);
	z-index: -1;
}
.vsi-btn-3::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 0%;
	right: 0;
	bottom: 0;
	background-color: var(--vsi-color-3);
	border-bottom-left-radius: 1.5rem;
	z-index: -1;
}
.vsi-btn-3:focus,
.vsi-btn-3:hover {
	outline: none;
}
.vsi-btn-3:focus::before,
.vsi-btn-3:hover::before,
.vsi-btn-3:focus::after,
.vsi-btn-3:hover::after {
	width: 100%;
	height: 50%;
	transition: all 0.25s ease;
}

.vsi-social {
	font-size: 1.5rem;
    color: var(--vsi-color-2);
    background-color: var(--vsi-color-9);
    width: 3rem;
    height: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px var(--vsi-color-1);
}
.vsi-social.envelope:hover {
	color: var(--vsi-color-1);
	background-color: #FFF !important;
	transition: all 0.25s ease;
}
.vsi-social.facebook:hover {
	color: var(--vsi-color-2);
	background-color: #4b6ea8 !important;
	transition: all 0.25s ease;
}
.vsi-social.twitter:hover {
	color: var(--vsi-color-2);
	background-color: #4fd5f8 !important;
	transition: all 0.25s ease;
}
.vsi-social.linkedin:hover {
	color: var(--vsi-color-2);
	background-color: #0189c3 !important;
	transition: all 0.25s ease;
}
.vsi-social.youtube:hover {
	color: var(--vsi-color-2);
	background-color: #da1818 !important;
	transition: all 0.25s ease;
}

.parallax-window {
	min-height: 10rem;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}

/* header - strat */
body {
	padding-top: 4rem;
}
.vsi-header {
	background-color: var(--vsi-color-2);
    color: var(--vsi-color-1);
    width: 100%;
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.vsi-header_logo {
	width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.vsi-header_logo img {
	max-width: 100%;
    max-height: 100%;
}
.vsi-header_nav {
	width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
    display: block;
	position: relative;
}
.vsi-header_nav > ul {
	width: 100%;
    height: 100%;
	padding: 0;
	margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1) {
	margin: 0 1rem 0 0;
	padding: 0 1rem;
	line-height: 3rem;
	position: relative;
}

.vsi-header_nav > ul > li:not(.vsi-btn-1) > a {
	text-transform: uppercase;
	color: var(--vsi-color-1);
	font-family: var(--vsi-font-1);
	font-size: 1.25rem;
	font-weight: bold;
	white-space: nowrap;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1)::after,
.vsi-header_nav > ul > li:not(.vsi-btn-1)::before,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::after,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::before {
	content: "";
	width: 0%;
	height: 1px;
	position: absolute;
	left: 0;
	background-color: var(--vsi-color-1);
	margin: 0 auto;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1)::after,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::after {
	bottom: 0;
	width: 0%;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1):hover::after,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::after {
	bottom: 0.5rem;
	width: 100%;
	transition: all 0.5s ease;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1)::before,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::before {
	top: 0;
	width: 0%;
}
.vsi-header_nav > ul > li:not(.vsi-btn-1):hover::before,
.vsi-header_nav > ul > li:not(.vsi-btn-1).active::before {
	top: 0.5rem;
	width: 100%;
	transition: all 0.5s ease;
}
@media (max-width: 575.98px) {
	body {
		padding-top: 3.5rem;
	}
	.luxbar-menu-light,
	.luxbar-menu-light .dropdown ul {
		background-color: var(--vsi-color-2);
		color: var(--vsi-color-1);
	}
	.luxbar-brand img {
		max-height: 2rem;
	}
	.luxbar-menu-light .luxbar-item {
		position: relative;
	}
	.luxbar-menu-light .active,
	.luxbar-menu-light .luxbar-item:hover {
		background-color: var(--vsi-color-2);
		width: 50%;
		margin: 0 auto;
	}
	.luxbar-menu-light .luxbar-item::after,
	.luxbar-menu-light .luxbar-item::before,
	.luxbar-menu-light .luxbar-item.active::after,
	.luxbar-menu-light .luxbar-item.active::before {
		content: "";
		width: 0%;
		height: 1px;
		position: absolute;
		left: 0;
		background-color: var(--vsi-color-1);
		margin: 0 auto;
	}
	.luxbar-menu-light .luxbar-item::after,
	.luxbar-menu-light .luxbar-item.active::after {
		bottom: 0;
		width: 0%;
	}
	.luxbar-menu-light .luxbar-item:hover::after,
	.luxbar-menu-light .luxbar-item.active::after {
		bottom: 0.5rem;
		width: 100%;
		transition: all 0.5s ease;
	}
	.luxbar-menu-light .luxbar-item::before,
	.luxbar-menu-light .luxbar-item.active::before {
		top: 0;
		width: 0%;
	}
	.luxbar-menu-light .luxbar-item:hover::before,
	.luxbar-menu-light .luxbar-item.active::before {
		top: 0.5rem;
		width: 100%;
		transition: all 0.5s ease;
	}
	.luxbar-item a {
		text-transform: uppercase;
		color: var(--vsi-color-1);
		font-family: var(--vsi-font-1);
		font-size: 1.25rem;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		padding-top: 3.5rem;
	}
	.luxbar-menu-light,
	.luxbar-menu-light .dropdown ul {
		background-color: var(--vsi-color-2);
		color: var(--vsi-color-1);
	}
	.luxbar-brand img {
		max-height: 2rem;
	}
	.luxbar-menu-light .luxbar-item {
		position: relative;
	}
	.luxbar-menu-light .active,
	.luxbar-menu-light .luxbar-item:hover {
		background-color: var(--vsi-color-2);
		width: 50%;
		margin: 0 auto;
	}
	.luxbar-menu-light .luxbar-item::after,
	.luxbar-menu-light .luxbar-item::before,
	.luxbar-menu-light .luxbar-item.active::after,
	.luxbar-menu-light .luxbar-item.active::before {
		content: "";
		width: 0%;
		height: 1px;
		position: absolute;
		left: 0;
		background-color: var(--vsi-color-1);
		margin: 0 auto;
	}
	.luxbar-menu-light .luxbar-item::after,
	.luxbar-menu-light .luxbar-item.active::after {
		bottom: 0;
		width: 0%;
	}
	.luxbar-menu-light .luxbar-item:hover::after,
	.luxbar-menu-light .luxbar-item.active::after {
		bottom: 0.5rem;
		width: 100%;
		transition: all 0.5s ease;
	}
	.luxbar-menu-light .luxbar-item::before,
	.luxbar-menu-light .luxbar-item.active::before {
		top: 0;
		width: 0%;
	}
	.luxbar-menu-light .luxbar-item:hover::before,
	.luxbar-menu-light .luxbar-item.active::before {
		top: 0.5rem;
		width: 100%;
		transition: all 0.5s ease;
	}
	.luxbar-menu-light .luxbar-item a {
		text-transform: uppercase;
		color: var(--vsi-color-1);
		font-family: var(--vsi-font-1);
		font-size: 1.25rem;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.vsi-header_nav > ul > li:not(.vsi-btn-1) {
		margin: 0 0 .5rem 0 0;
		padding: 0;
	}
	.vsi-header_nav > ul > li:not(.vsi-btn-1) > a {
		font-size: 1rem;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.vsi-header_nav > ul > li:not(.vsi-btn-1) {
		margin: 0 0.5rem 0 0;
		padding: 0 0.5rem;
	}
}
@media (min-width: 1200px) {
	
}
/* header - end */
/* footer - start */
.vsi-address {
	width: 100%;
	background-color: var(--vsi-color-10);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 15rem 0;
	position: relative;
}
.vsi-address_center {
    max-width: 35rem;
    margin: 0 auto;
    background-color: var(--vsi-color-10);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border: solid 1px var(--vsi-color-1);
	border-radius: 1.5rem;
}
.vsi-address_center_icon {
	margin-bottom: 2rem;
}
.vsi-address_center_icon .envelope {
	width: 5rem;
    height: 5rem;
    font-size: 3rem;
}
.vsi-address_center_title {
	margin-bottom: 2rem;
}
.vsi-address_center_title p {
	font-family: var(--vsi-font-2);
    font-size: 2.5rem;
    color: var(--vsi-color-2);
}
.vsi-address_center_text {
	margin-bottom: 2rem;
}
.vsi-address_center_text p {
	font-family: var(--vsi-font-3);
	font-size: 1.25rem;
	color: var(--vsi-color-2);
	line-height: 1.5rem;
}
.vsi-address_center_social {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.vsi-address_center_social .vsi-social {
	margin: auto 0.5rem;
}
.vsi-map {
	width: 100%;
	height: 25rem;
}
.vsi-footer {
	background-color: var(--vsi-color-2);
	color: var(--vsi-color-1);
	width: 100%;
	text-align: center;
	padding: 1.5rem 0 1rem 0;
	margin: 0;
}
.vsi-footer_logo {
	margin: 2.5rem auto;
	padding: 0;
	display: block;
}
.vsi-footer_logo img {
	max-width: 15rem;
	max-height: 15rem;
}
.vsi-footer_copyright {
	font-family: var(--vsi-font-3);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}
@media (max-width: 575.98px) {
	.vsi-address {
		padding: 5rem 0;
	}
	.vsi-address_center {
		max-width: 20rem;
	}
	.vsi-address_center_title p {
		font-size: 2rem;
	}
	.vsi-address_center_text p {
		font-size: 1.15rem;
	}
	.vsi-map {
		height: 15rem;
	}
	.vsi-footer_logo {
		margin: 1.5rem auto;
	}
	.vsi-footer_logo img {
		max-width: 10rem;
		max-height: 10rem;
	}
	.vsi-footer_copyright {
		font-size: 0.75rem;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.vsi-address {
		padding: 5rem 0;
	}
	.vsi-address_center {
		max-width: 25rem;
	}
	.vsi-map {
		height: 20rem;
	}
	.vsi-footer_logo {
		margin: 2rem auto;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.vsi-address {
		padding: 10rem 0;
	}
	.vsi-address_center {
		max-width: 30rem;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.vsi-address {
		padding: 10rem 0;
	}
}
@media (min-width: 1200px) {
	
}
/* footer - end */