/* vis-fe1-fonts start*/
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
/* font-family: 'Oswald', sans-serif; */

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@600&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald:wght@600&family=Raleway:wght@600&display=swap');
/* font-family: 'Indie Flower', cursive; */

/* vis-fe1-fonts end*/
*, body {
	font-family: 'Roboto', sans-serif;
}
a {
	color: inherit;
}
a:hover {
	color: inherit;
	text-decoration: none;
}

@media (max-width: 575.98px) {
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}
.vsi-background_dark {
    background-image: -webkit-linear-gradient(top, #323940, #2c3136 53%, #323940);
    background-image: -o-linear-gradient(top, #323940, #2c3136 53%, #323940);
    background-image: -webkit-gradient( linear, left top, left bottom, from(#323940), color-stop(53%, #2c3136), to(#323940) );
    background-image: -webkit-gradient( linear, left top, left bottom, from(#323940), color-stop(53%, #2c3136), to(#323940) );
    background-image: -webkit-gradient( linear, left top, left bottom, from(#323940), color-stop(53%, #2c3136), to(#323940) );
    background-image: -webkit-gradient( linear, left top, left bottom, from(#323940), color-stop(53%, #2c3136), to(#323940) );
    background-image: -webkit-gradient( linear, left top, left bottom, from(#323940), color-stop(53%, #2c3136), to(#323940) );
    background-image: linear-gradient(to bottom, #323940, #2c3136 53%, #323940);
}
/* header - start */
body {
	padding-top: 6rem;
}
.vsi-header{
    width: 100%;
    max-width: 100%;
    height: 6rem;
    background-color: var(--vsi-color-1);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.vsi-logo {
	width: 10rem;
	height: 5rem;
	margin: 0.5rem 0;
	position: relative;
	display: flex;
	align-items: center;
}
.vsi-header_nav {
	width: 100%;
	height: 5rem;
	margin: 0.5rem 0;
	position: relative;
}
.vsi-header_nav ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.vsi-header_nav ul li {
	padding: 0;
	margin: 0;
	line-height: 5rem;
}
.vsi-header_nav ul li.active,
.vsi-header_nav ul li:hover {
	background-color: var(--vsi-color-5);
}
.vsi-header_nav ul li a {
	padding: 0;
	margin: 0 2rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--vsi-solor-2);
}
@media (max-width: 575.98px) {
	body {
		padding-top: 3.75rem;
	}
	.luxbar-brand {
		padding: 0 1.5rem;
	}
	.luxbar-brand img {
		max-height: 3rem;
	}
	.luxbar-menu-light,
	.luxbar-menu-light .dropdown ul {
		background-color: var(--vsi-color-1);
	}
	.luxbar-menu-light .active,
	.luxbar-menu-light .luxbar-item:hover {
		background-color: var(--vsi-color-5);
	}
	.luxbar-menu a,
	.luxbar-item a {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--vsi-solor-2);
		text-align: center;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		padding-top: 3.75rem;
	}
	.luxbar-brand {
		padding: 0 1.5rem;
	}
	.luxbar-brand img {
		max-height: 3rem;
	}
	.luxbar-menu-light,
	.luxbar-menu-light .dropdown ul {
		background-color: var(--vsi-color-1);
	}
	.luxbar-menu-light .active,
	.luxbar-menu-light .luxbar-item:hover {
		background-color: var(--vsi-color-5);
	}
	.luxbar-menu a,
	.luxbar-item a {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--vsi-solor-2);
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.vsi-header_nav ul li a {
		margin: 0 1rem;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.vsi-header_nav ul li a {
		margin: 0 1.5rem;
	}
}
@media (min-width: 1200px) {
	.vsi-header_nav ul li a {
		margin: 0 2rem;
	}
	
}
/* header - end */
/* footer - start */
.vsi-footer{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../images/home/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% -26px;
}
.vsi-footer::before{
    content: '';
    background-color: rgba(34,34,34, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.vsi-inner{
    width: 100%;
    height: auto;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}
.vsi-info{
    width: 90%;
    max-width: 770px;
    padding: 52px;
    background: var(--vsi-footer-info-background);
    color: var(--vsi-footer-info-color);
    margin: 0 auto;
    position: relative;
}
.vsi-border{
    border-radius: 100%;
}
.vsi-button-email{
    text-align: center;
    display: block;
    width: 82px;
    height: 82px;
    background: var(--vsi-footer-info-background);
    color: var(--vsi-footer-info-color);
    margin: 0 auto;
    line-height: 85px;
    font-size: 35px;
}
.vsi-button-email:hover{
    background: var(--vsi-footer-email-background);
    color: #2b2b2b;
}
.vsi-h1{
    text-align: center;
    margin: 15px auto;
    padding: 0;

}
.vsi-h1 a{
    padding: 0;
    margin: 0;
    font-size: 65px;
    color: white !important;
    font-family: 'Oswald', 'sans-serif';
    text-decoration: none;
}
.vsi-h2{
    padding: 0;
    margin: 0 auto 15px;
    font-size: 25px;
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    text-align: center;
}
.vsi-mail{
    padding: 0;
    margin: 0 auto 15px;
    font-size: 25px;
    color: inherit;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', 'sans-serif';
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
a.vsi-icon-footer{
    display: inline-block;
    color: inherit;
    line-height: 65px;
    font-size: 27px;
    margin: 0 7px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-bg-color-icon{
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-color: #3a3a3a;
}
.vsi-bg-fb:hover{
    background: #4b6ea8;
    text-decoration: none;
}
.vsi-bg-tw:hover{
    background: #4fd5f8;
    text-decoration: none; 
}
.vsi-bg-in:hover{
    background: #0189c3;
    text-decoration: none; 
}
.vsi-bg-ytb:hover{
    background: #da1818;
    text-decoration: none; 
}
.vsi-maps{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}
.vsi-maps::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 380px;
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vsi-copyright{
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: var(--vsi-color-1);
}
.vsi-logo-footer{
    width: 130px;
    max-width: 130px;
    padding: 0;
    margin: 0 auto;
}
.vsi-logo-footer img{
    max-width: 130px;
    padding: 0;
    text-align: center;
}
.vsi-year{
    text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
    font-size: 11px;
    margin: 15px auto 0;
    color: var(--vsi-color-5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vsi-hover-ltd{
    text-decoration: none;
    color: var(--vsi-color-5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
.vsi-hover-ltd:hover{
    text-decoration: none;
    color: var(--vsi-color-6);
    outline: none;
}
.vsi-estimate-project{
    background-image: url(../images/home/pattern-up-full.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 50%;
    background-position-x: -50%;
    width: 100%;
    border-radius: 0 0 50px;
    background-color: var(--vsi-color-4);
    border: 1px solid var(--vsi-color-3);
    margin-top: 40px;
}
.vsi-contact-white{
    color: var(--white);
}
.vsi-contact-title{
    font-size: 32px;
    line-height: 1.14;
    color: #333;
    padding: 24px;
    font-family: 'Oswald', 'sans-serif';
}
.vsi-contact-form{
    background-color: #323940;
    color: var(--white);
    float: left;
    padding: 8px;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    width: 180px;
    max-width: 100%;
    border-radius: 0 0 16px;
    margin-bottom: 16px;
    text-align: center;
    margin: 24px;
}
a.vsi-btn-submit{
    color: var(--white);
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a.vsi-btn-submit:hover{
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 575.98px) {
	.vsi-h1 a{
        font-size: 30px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-footer{
        margin: 7px !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-h1 a{
        font-size: 40px !important;
    }
    .vsi-h2, .vsi-mail{
        font-size: 15px !important;
    }
    a.vsi-icon-footer{
        margin: 7px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
@media (min-width: 1200px) {
	
}


/* vsi-fe3 - start */
.vsi-sub_page--banner{
    background-image: url("../images/projects/cover-projects.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}
.vsi-sub_page--banner_container {
	height: 100%;
	position: relative;
}
.vsi-sub_page--banner-title{
    font-size: 80px;
    color: var(--white);
    position: absolute;
    bottom: 25%;
    font-weight: bold;
}
.vsi-sub_page--banner-text{
    background-color: var(--vsi-color-4);
    padding: 2.5rem 2rem;
    border-radius: 0 0 40px;
    max-width: 796px;
    position: absolute;
    top: 90%;
    text-align: justify;
}
.vsi-sub_page--banner-bottom {
	height: 20vh;
	background-color: var(--dark-gray-priamry);
}
/* Reponsive */
@media (max-width: 575.98px) {
    .vsi-sub_page--banner-title{
        font-size: 48px; 
        color: var(--white);
        position: absolute;
        bottom: 10%;    
    }
    .vsi-sub_page--banner-text {
        top: 100%;
        border-radius: 0;
        max-width: calc(100% - 30px);
    }
    .vsi-sub_page--banner-bottom {
        height: 75vh;
        background-color: var(--dark-gray-priamry);
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .vsi-sub_page--banner{
        height: 60vh;
    }
    .vsi-sub_page--banner-title{
        font-size: 48px;
        color: var(--white);
        position: absolute;
        bottom: 15%;
        /* left: 10%; */
    }
    .vsi-sub_page--banner-text{
        top: 100%;
        max-width: calc(100% - 30px);
    } 
    .vsi-sub_page--banner-bottom {
        height: 45vh;
        background-color: var(--dark-gray-priamry);
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .vsi-sub_page--banner-text{
        max-width: 580px;
        margin: 0 0 0 40px;
    }
    .vsi-sub_page--banner-title {
        font-size: 80px;
        color: var(--white);
        position: absolute;
        bottom: 13%;
        font-weight: bold;
    }
    .vsi-sub_page--banner-bottom {
        height: 25vh;
        background-color: var(--dark-gray-priamry);
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .vsi-sub_page--banner-bottom {
        height: 35vh;
        background-color: var(--dark-gray-priamry);
    }
}
@media (min-width: 1200px) {
}
/* vsi-fe3 - end */

/* vsi-fe4 - start */
    .vsi-sub-list{
        padding-top: 50px;
        background-color: var(--dark-gray-priamry);
    }
    .vsi-sub-list-container{
        margin-top: 20px;
    }
    .vsi-sub-list-container>div{
        margin-bottom: 30px;
    }
    .vsi-sub-list-container-box{
        background-color: var(--vsi-fe3-color-1);
        padding: 56px 0 40px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        height: 100%;
        text-align: center;
        color: var(--white);
    }
    .vsi-sub-list-container-box:hover {
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 21px 41px 0 rgba(0, 0, 0, 0.3);
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    .vsi-sub-list-container-box img {
        width: 128px;
        height: 128px;
    }
    .vsi-sub-list-container-box_text-list{
        margin-top: 40px;
        font-size: 20px;
        color: var(--white);
    }

    .vsi-more-projects{
        padding: 20px 0 60px 0;
        background-color: var(--dark-gray-priamry);
    }
    .vsi-btn-more-projects .btn {
        height: 48px;
        border-bottom-right-radius: 16px;
        border: 2px solid var(--vsi-color-4);
        text-align: center;
        color: var(--vsi-color-4);
        background: 0 0;
        outline: 0;
        padding: 8px 30px;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .vsi-btn-more-projects{
        justify-content: center;
    }
    .vsi-btn-more-projects-hide{
        display: none;
    }
    .vsi-btn-more-projects .btn:hover {
        color: var(--white);
        background: var(--vsi-color-4);
    }
/* vsi-fe4 - end */
